In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/home/otavio/ml/datasets/world-data/economic_freedom/press_freedom.csv', usecols=['Rank2020', 'EN_country', 'Score A', 'Sco Exa', 'Score 2020', 'Progression RANK'])

In [3]:
data = data.sort_values('Rank2020', ascending=True)

In [4]:
cou = pd.read_csv('/home/otavio/ml/datasets/utils/countries.csv')

In [5]:
data = data.merge(cou, how='left', left_on='EN_country', right_on='Name')
data

,Rank2020,EN_country,Score A,Sco Exa,Score 2020,Progression RANK,Index,Name,Code,PT
0,1,Norway,"7,84",0,"7,84",0,164.0,Norway,NO,Noruega
1,2,Finland,"7,93",0,"7,93",0,73.0,Finland,FI,Finlândia
2,3,Denmark,"8,13",0,"8,13",2,59.0,Denmark,DK,Dinamarca
3,4,Sweden,"9,25",0,"9,25",-1,213.0,Sweden,SE,Suécia
4,5,Netherlands,"9,96",0,"9,96",-1,155.0,Netherlands,NL,Países Baixos
...,...,...,...,...,...,...,...,...,...,...
175,176,Djibouti,"76,73","6,93147181","76,73",-3,60.0,Djibouti,DJ,Djibouti
176,177,China,"76,68","80,4334217","78,48",0,44.0,China,CN,China
177,178,Eritrea,"83,5","72,3561914","83,5",0,67.0,Eritrea,ER,Eritrea
178,179,Turkmenistan,"85,44",0,"85,44",1,227.0,Turkmenistan,TM,Turcomenistão
179,180,Democratic People's Republic of Korea,"85,82","51,9295685","85,82",-1,251.0,Democratic People's Republic of Korea,NaN,Coréia do Norte

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 179
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank2020          180 non-null    int64
 1   EN_country        180 non-null    object
 2   Score A           180 non-null    object
 3   Sco Exa           180 non-null    object
 4   Score 2020        180 non-null    object
 5   Progression RANK  180 non-null    int64
 6   Index             172 non-null    float64
 7   Name              172 non-null    object
 8   Code              170 non-null    object
 9   PT                172 non-null    object
 10  label             180 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 16.9+ KB

In [30]:
data['label'] = data['PT'] + ' (' + data['Rank2020'].astype(str) + 'º)'
data

,Rank2020,EN_country,Score A,Sco Exa,Score 2020,Progression RANK,Index,Name,Code,PT,label
0,1,Norway,"7,84",0,"7,84",0,164.0,Norway,NO,Noruega,Noruega (1º)
1,2,Finland,"7,93",0,"7,93",0,73.0,Finland,FI,Finlândia,Finlândia (2º)
2,3,Denmark,"8,13",0,"8,13",2,59.0,Denmark,DK,Dinamarca,Dinamarca (3º)
3,4,Sweden,"9,25",0,"9,25",-1,213.0,Sweden,SE,Suécia,Suécia (4º)
4,5,Netherlands,"9,96",0,"9,96",-1,155.0,Netherlands,NL,Países Baixos,Países Baixos (5º)
...,...,...,...,...,...,...,...,...,...,...,...
175,176,Djibouti,"76,73","6,93147181","76,73",-3,60.0,Djibouti,DJ,Djibouti,Djibouti (176º)
176,177,China,"76,68","80,4334217","78,48",0,44.0,China,CN,China,China (177º)
177,178,Eritrea,"83,5","72,3561914","83,5",0,67.0,Eritrea,ER,Eritrea,Eritrea (178º)
178,179,Turkmenistan,"85,44",0,"85,44",1,227.0,Turkmenistan,TM,Turcomenistão,Turcomenistão (179º)
179,180,Democratic People's Republic of Korea,"85,82","51,9295685","85,82",-1,251.0,Democratic People's Republic of Korea,NaN,Coréia do Norte,Coréia do Norte (180º)

In [31]:
f10 = data[:10]
f10.to_csv('f10.csv')

In [32]:
f20 = data[10:20]
f20.to_csv('f20.csv')

In [33]:
f100 = data[100:110]
f100.to_csv('f100.csv')

In [36]:
fminus = data[-10:]
fminus
fminus.to_csv('fminus.csv')